@import "normalize.css";
* {
    box-sizing: border-box;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1, h2 {
  margin: 0;
  font-weight: normal;
  font-size: 3em;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.fixed-header li {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 0 5px;
  
}


#logo {
  text-align:center;
  margin: 0;
    float:left;
    font-size: 1.125em;
    margin-left: 5%;
    text-align: left; 
    width: 45%; 
   white-space: nowrap;
   overflow: hidden;
    }
 
  h1{
      font-size: 1.7em;
  }
  
  h2{ 
      font-size: 0.825em;
      margin bottom: 20px;
  }
 
.name {
	font-size: 1.25em;
}
.name,
.main-nav li {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	text-transform: uppercase;
}

  .main-nav{
font-size: .95em;
padding: 10px 15px;
	display: inline-block;


  }
  .main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}





/*<!Created contact form -->

#signup {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {

  font-family: 'Nunito', sans-serif;
  color: #384047;
  
}

 form {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  margin:  auto;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="message"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,

select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
} 


/********************************
FOOTER
I created a sticky footer using bootstrap so that footer will always be on the page
  ********************************/
.main-footer {
  text-align: center;
	background: #d9e4ea;
	padding-top: 20px;
  padding-bottom: 20px;
	margin-top: 30px;
  min-height: 89px;
}




wrapper {
  min-height: 89px;
 margin-bottom: -50px;*/
}
.footer,
.push {
  height: 50px;
}

footer{ 
  font-size:0.75em;
  text-align:center;
  clear:both;
  padding-top: 50px;
  color: #ccc;
  
}
.social_media { 
  width:20px;
  height:20px;
  margin: 0 5px;
              }


/*<!Created contact form/*/

#signup {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}


/*About Page PHOTO GALLERY*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

}

.navBtn {
    font-size: 2em;
    font-weight: 700;
    margin: 30px 0 0;
    width: 100%;
    text-align: center;
    line-height: 1em;
    -webkit-transform: rotate(0deg);
    transition: .3s ease-out;
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 1000001;
    opacity: .5;
    left: 0;
<style>
          body {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.75em;
  color: #384047;
  background: #384047;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial;
  font-weight: 400;
}

img { width: 100%; }

.container {
  margin: 0 auto;
  width: 95%;
  margin: 0 5% 0 0;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
}

header {
  width: 5%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  transition: .32s ease-out;
  z-index: 2;
  background: #384047;
}

header a,
.navBtn { color: #fff; }

.toggle { width: 312px; }

.reveal {
  opacity: 1;
  left: 0;
}

nav {
  padding-left: 360px;
  overflow: hidden;
  position: absolute;
  transition: .3s ease-out;
  top: 80px;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
}

nav a {
  float: left;
  padding: 8px 0;
  opacity: .5;
  width: 100%;
  transition: .3s ease;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.85em;
}

nav a:hover,
.current,
.toggle .navBtn { opacity: 1; }

.toggle nav {
  padding-left: 60px;
  opacity: 1;
}

.navBtn {
  font-size: 2em;
  font-weight: 700;
  margin: 30px 0 0;
  width: 100%;
  text-align: center;
  line-height: 1em;
  -webkit-transform: rotate(0deg);
  transition: .3s ease-out;
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 1000001;
  opacity: .5;
  left: 0;
}

.toggle .navBtn {
  -webkit-transform: rotate(224deg);
  color: #fff;
  left: -100px;
}

.navBtn:hover { opacity: 1; }

.main {
  background: #f6f6f6;
  float: right;
  width: 95%;
  margin: 0 0 0 5%;
  padding: 0;
  transition: .6s ease-in;
  overflow: hidden;
  z-index: 2;
}

h3 {
  font-size: 3em;
  color: #EAC734;
  font-weight: 300;
  transition: .6s ease-in;
  line-height: 1em;
}

article { padding: 40px 10%; }

.push {
  margin-left: 240px;
  margin-right: -240px;
  transition: .3s ease-in;
}

.overlay {
  width: 100%;
  background: #384047;
  opacity: .85;
  z-index: 1;
  height: 100%;
  position: fixed;
  display: none;
}

.block { display: block; }

/* 1024 */
@media only screen and (max-width: 1024px) {

.container {
  width: 100%;
  margin: 0;
}

header { width: 8%; }

.main { width: 92%; }
}

/* 768 */
@media only screen and (max-width: 768px) {

header { width: 10%; }

.main { width: 90%; }
}

/* 480 */
@media only screen and (max-width: 480px) {

header { width: 10%; }

.main { width: 90%; }

h3 { font-size: 2em; }

/* 320 */
@media only screen and (max-width: 320px) {
 header {
 width: 15%;
}
 .main {
 width: 85%;
}
}
</style>
