@import "normalize.css";

header{
  /*font-size: 2.95em;*/
  font-family: Rubik, san-serif;

}

/********************************
CSS FOR GRID LAYOUT
  ********************************/
* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .col-1 {
    background:#57629D;
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }
  header, footer {
    height: 20vh;
    
  }
footer{
    background:#B2B4C0;
 
  }
  header, footer, article, nav {
    padding: 1em;
  
  }
  article{
background: white;

   
  }

  /********************************
NAVAGATION CSS
  ********************************/
.nav{
  text-decoration: none;
  display: inline-block;
}
.nav a {
  font-family: Rubik, san-serif;
  text-align: auto;
  color:white;

}

  /********************************
FOOTER

  ********************************/
.main-footer {
  text-align: center;
	padding-top: 20px;
  padding-bottom: 20px;
	margin-top: 30px;
    margin-bottom: 30px;
  min-height: 89px;
}

footer{ 
  font-size:0.75em;
  text-align:center;

}
.social_media { 
  width:20px;
  height:20px;
  margin: 0 5px;
              }
 select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
 }
  /********************************
PROFILE PHOTO
  ********************************/

img {
    border-radius: 100%;
    max-width: 100%;
    margin :0 auto 30px;
    vertical-align: middle;
    /*width: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/

}
div {
    overflow:scroll;
}

#page-wrap { 
  max-width: 500px; 
  margin: 1rem auto;
  padding: 1rem;
}